.main-header {
  margin: 0 auto;
  width: 620px;
  margin-top: 70px;
}

.main-title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-right: 30px;
  color: #17a2b8;
}

.search-input {
  font-size: 14px;
  font-style: italic;
  height: 31px;
  padding-left: 10px;
}

.btn-info {
  margin-left: 2px;
}

.btn-secondary {
  margin-left: 6px;
}

@media (max-width: 767px) {  
  .main-header {
    margin: 0 auto;
    margin: 40px 0px 10px 0px;
    width: 450px;
    text-align: center;
  }
  .main-title {
    margin: 0px 0px 5px 50px;
  }
  .search-input {
    margin: 0px 0px 0px 20px;
  }
  .btn-secondary {
    margin-left: 90px;
  }
}

@media (max-width: 600px) {  
  .main-header {
    margin: 0 auto;
    margin: 40px 0px 10px 0px;
    width: 310px;
    text-align: center;
  }
  .main-title {
    margin: 0px 0px 5px 130px;
  }
  .search-input {
    margin: 0px 0px 0px 65px;
  }
  .btn-secondary {
    margin-left: 90px;
  }
}

@media (max-width: 400px) {  
  .main-header {
    margin: 0 auto;
    margin: 40px 0px 10px 0px;
    width: 300px;
    text-align: center;
  }
  .main-title {
    margin: 0px 0px 5px 75px;
  }
  .search-input {
    margin: 0px 0px 0px 20px;
  }

  .btn-secondary {
    margin-left: 35px;
  }
}