.location-section {
  max-width: 650px;
  margin: 0 auto;
}

.location-title {
  margin: 0px 0px 5px 10px;
}

.location-box {
  border: solid 2px #6c757d;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px 20px 30px;
}

.location-name {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px 0px 20px;
}

#location-time {
  text-align: left;
  font-size: 18px;
  padding: 0px 0px 10px 20px;
}

.location-sun, .location-details {
  padding-top: 20px;
}

.sunset-icon, .sunrise-icon {
  width: 30%;
  text-align: center;
}

.drop-icon {
  width: 20%;
}

.wind-icon {
  width: 30%;
}

.location-icon {
  width: 110%;
}

.location-temperature {
  font-size: 20px;
  font-weight: bold; 
}