.location-section {
  max-width: 650px;
  margin: 0 auto;
}

.location-title {
  margin: 0px 0px 5px 10px;
}

.location-box {
  border: solid 2px #6c757d;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px 20px 30px;
}

.location-name {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px 0px 20px;
}

#location-time {
  text-align: left;
  font-size: 18px;
  padding: 0px 0px 10px 20px;
}

.location-sun,
.location-details {
  padding-top: 30px;
  width: 130px;
}

.sunset-icon,
.sunrise-icon {
  width: 30%;
  text-align: center;
}

.drop-icon {
  width: 20%;
}

.wind-icon {
  width: 30%;
  margin-right: 5px;
}

#location-temperature-s,
#location-temperature-l {
  font-size: 22px;
  font-weight: bold;
}

#location-description-s,
#location-description-l {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 401px) and (max-width: 2000px) {
  #small-screen {
    display: none;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  #small-screen {
    display: none;
  }

  .location-sun,
  .location-details {
    padding-top: 60px;
    display: inline;
  }

  .location-main {
    display: inline;
    max-width: 130px;
    padding-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .location-main {
    margin-bottom: 40px;
  }

  .location-sun,
  .location-details {
    padding-top: 60px;
    display: inline;
  }

  .location-main {
    display: inline;
    max-width: 190px;
    padding-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .location-main {
    margin: 0 auto;
    display: inline;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .location-name {
    text-align: left;
    max-width: 260px;
    margin-bottom: 5px;
  }

  .location-sun,
  .location-details {
    margin: 0 auto;
    padding: 40px 0px 30px 0px;
  }

  #location-icon {
    width: 90%;
  }

  #large-screen {
    display: none;
  }

  #small-screen {
    display: block;
  }
}
