.week-table {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  table-layout: fixed;
}

.second-column {
  width: 85px;
}

.weekly-title {
  text-align: center;
  border-bottom: 1px solid grey;
}  

#week-icon1, #week-icon2, #week-icon3, #week-icon4, #week-icon5 {
  height: 30%;
}

#min-temp1, #min-temp2, #min-temp3, #min-temp4, #min-temp5 {
  font-size: 14px;
}

.week-footer {
  font-size: 14px;
  border-top: 1px solid grey;
  padding-top: 30px;
}

.link-info {
  color: #17a2b8;
}

@media (max-width: 600px) {  
  .weekly-title {
    border-top: 1px solid grey;
  }  
}