.week-table {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

.weekly-title {
  text-align: center;
  border-bottom: 1px solid grey;
}  

.weekly-icon {
  height: 30%;
}

.week-footer {
  font-size: 14px;
  border-top: 1px solid grey;
  padding-top: 30px;
}

.min-temp {
  font-size: 14px;
}